# Russell 2000 index data exploration compared to macroeconomic factors

In [1]:
# import og nesecery libraries

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import requests
from scipy.stats import pearsonr
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [4]:
#df_sp500 = pd.read_csv('/Users/youssefbadran/Documents/datamatiker/4. semester/BI/sp500_data.csv')
df_interest_inflation = pd.read_csv('https://raw.githubusercontent.com/badranyoussef/bi-exam-project-stock/main/datasets/fed_interest_rate_inflation.csv')
# Read interest rates from 2017-now
df_interest_2017_to_now = pd.read_excel('/Users/lassekh/Documents/Datamatiker/4-semester/BI - Business Intelligence/bi-exam-project-stock/datasets/interest_rate_2017_now.xlsx')
# Read russell 2000 data
df_russell2000 = pd.read_csv('../datasets/russell_2000.csv')

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

## Cleaning Russell 2000

In [5]:
df_russell2000.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume
0,1987-09-10,167.440002,168.979996,167.440002,168.970001,168.970001,179800000
1,1987-09-11,168.970001,170.539993,168.750000,170.539993,170.539993,178000000
2,1987-09-14,170.529999,170.949997,170.149994,170.429993,170.429993,154400000
3,1987-09-15,170.419998,170.440002,169.130005,169.199997,169.199997,136200000
4,1987-09-16,169.309998,170.029999,168.820007,168.919998,168.919998,195700000
5,1987-09-17,168.919998,169.250000,168.539993,168.820007,168.820007,150700000
6,1987-09-18,168.820007,169.039993,168.750000,168.750000,168.750000,188100000
7,1987-09-21,168.750000,169.130005,167.360001,167.399994,167.399994,170100000
8,1987-09-22,167.399994,167.559998,166.690002,167.559998,167.559998,209500000
9,1987-09-23,167.559998,168.649994,167.550003,168.649994,168.649994,220300000